@charset "utf-8";

@font-face{
    font-family: "Champagne";
    src: url("cac_champagne.ttf"),
        url("cac_champagne.woff")
}
@font-face{
    font-family: "Grunge";
    src: url("1942.tff"),
        url("1942.woff")
}
@font-face{
    font-family: "Dobkin";
    src: url("DobkinPlain.ttf"),
        url("DobkinPlain.woff")
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Rex Mataranas    
   Date: July 13, 2019
   
   Filename: ph_styles.css

*/


/* Structural Styles */

html{
    background-color: hsl(91, 8%, 56%);
}

body{
    background-color: hsl(58, 31%, 84%);
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
header{
    background-color: black;
}

p{
    margin: 0px;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    font-family: none;
}

body > p{
    font-size: 1.1em;
    text-align: center;
}

address{
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Navigation Styles */

nav a{
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   padding-top: 10px; 
   padding-bottom: 10px;
   color: white;
   background-color: hsla(0, 0%, 42%, 0.4);
   text-decoration: none;
}

nav a:hover{
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(0, 0%, 42%, 0.7);
}
aside{
    font-family: none;
}

/* Section Styles */

section.playbill h1{
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#play1{
    background-color: hsl(240, 100%, 88%);
    font-family: 'Champagne', cursive;
}
#play2{
    background-color: hsl(25, 88%, 73%);
    font-family: 'Grunge', 'Times New Roman', Times, serif;
}
#play3{
    background-color: hsl(0, 100%, 75%);
    font-family: Impact, Charcoal, sans-serif;
}
#play4{
    background-color: hsl(296, 86%, 86%);
    font-family: 'Dobkin', cursive;
}

/* Description List Styles */

dt{
    font-size: 1.3em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
}
dd{
    font-size: 1.3em;
    margin-left: 0px;
    margin-bottom: 10px;
}